* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Cuprum', sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.top-header {

  height: 42px;
  color: #ffffff;
  background: #F1F5F7;
}

.header-content {
  background: #293449;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1;
  align-items: flex-start;
}

.logo {
  background: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  font-size: 18px;
  color: #ffffff;
  width: 220px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.search {
  width: 290px;
  padding-left: 17px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search img {
  padding-right: 10px;
}

.bookmarks {
  width: 156px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmarks img {
  padding-right: 10px;
}

.cart {
  width: 124px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart img {
  padding-right: 10px;
}

.checkout {
  width: 150px;
  height: 42px;
  background: #63A63E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.sub-header {
  min-height: 153px;
}
